###
#   Experiments configuration file
###

#Experiment configuration

#Input Configuration
SITES_FILE="./sites"

#Output Configuration
OUTPUT_DIR="./results"
HAR_DIR="$OUTPUT_DIR/har"
CAP_DIR="$OUTPUT_DIR/cap"
RENDERED_SITES="$OUTPUT_DIR/render"
RECOVERED_SITES="$OUTPUT_DIR/sites"

#Binaries Rutes Configuration
#Works with Chromium and Chrome
#CHROME="/usr/bin/chromium-browser"
CHROME="/usr/bin/google-chrome"
HARCAPTURER="$HOME/node_modules/chrome-har-capturer/bin/chrome-har-capturer.js"
TSHARK="/usr/bin/tshark"
PHANTOMJS="$HOME/node_modules/phantomjs/bin/phantomjs"
RENDER_SITE="$PHANTOMJS rendersite.js"

#Chrome Parameters Configuration
PARAM="--remote-debugging-port=9222
       --user-data-dir=$datadir
       --no-first-run
       --enable-benchmarking
       --dns-prefetch-disable
       --disable-translate
       --disable-extensions
       --disable-background-networking
       --safebrowsing-disable-auto-update
       --ignore-certificate-errors"

RUN="$CHROME $PARAM"

#System Configuration
IFACE="eth0"
