###
#   Experiments configuration file
###

#Experiment configuration
BW_LIST=(100 256 512 1024 2048 5120 10240)
DELAY_LIST=(10 50 100 200 250 500)

#Input Configuration
SITES_FILE="./sites"

#Output Configuration
LOGFILE="./log.txt"
OUTPUT_DIR="./results/"

#Binaries Rutes Configuration
#Works with Chromium and Chrome
#CHROME="/usr/bin/chromium-browser"
CHROME="/usr/bin/google-chrome"
HARCAPTURER="$HOME/node_modules/chrome-har-capturer/bin/chrome-har-capturer.js"
TSHARK="/usr/bin/tshark"
IFACE="eth0"

#Chrome Parameters Configuration
PARAM="--remote-debugging-port=9222
       --user-data-dir=$datadir
       --no-first-run
       --enable-benchmarking
       --dns-prefetch-disable
       --disable-translate
       --disable-extensions
       --disable-background-networking
       --safebrowsing-disable-auto-update
       --ignore-certificate-errors"

RUN="$CHROME $PARAM"
